<div class="messageBox">
    <div class="fileUploadWrapper">
      <label for="file">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 337 337">
          <circle
            stroke-width="20"
            stroke="#6c6c6c"
            fill="none"
            r="158.5"
            cy="168.5"
            cx="168.5"
          ></circle>
          <path
            stroke-linecap="round"
            stroke-width="25"
            stroke="#6c6c6c"
            d="M167.759 79V259"
          ></path>
          <path
            stroke-linecap="round"
            stroke-width="25"
            stroke="#6c6c6c"
            d="M79 167.138H259"
          ></path>
        </svg>
        <span class="tooltip">Add an image</span>
      </label>
      <input type="file" id="file" name="file" />
    </div>
    <input required="" placeholder="Message..." type="text" id="messageInput" />
    <!-- <button id="sendButton">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 664 663">
        <path
          fill="none"
          d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
        ></path>
        <path
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="33.67"
          stroke="#6c6c6c"
          d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
        ></path>
      </svg>
    </button> -->
    <button class="btn">
        <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
            <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
        </svg>
    
        <span class="text">Generate</span>
    </button>
  </div>
  